.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1140px;
    margin: auto;
}

.title {
    font-size: 1.2rem;
}
.title a {
    text-decoration: none;
    color: black;
}

.navOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}