.footer {
    color: var(--text-color);
    width: 90%;
    max-width: 1140px;
    margin: auto;
}

.footer a {
    text-decoration: none;
    color: inherit;
    font: inherit;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    display: inline;
}

.footer-contactInfo p {
    margin: 0;
    padding: 0;
}

.footer-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-title {
    text-align: center;
    font-size: 1.1rem;
}

.footer-smIcons {
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.footer-copyright {
    border-top: 2px solid var(--hover-gray);
    text-align: center;
    margin-top: 20px;
}

.footer-copyright p {
    font-size: 0.7rem;
}

@media (width < 400px) {
    .footer-content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }

    .footer-title {
        text-align: left;
    }

    .footer-smIcons {
        justify-content: flex-start;
    }
}