.navLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 30px;
    padding: 0;
    flex-wrap: wrap;
}

.navLinks li {
    font-family: Roboto;
    font-size: 1.125rem;
    font-weight: 800;
    line-height: 1.721rem;
    letter-spacing: -0.02em;
    text-align: left;
}

.navLinks a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 1.2rem;
    transition: 0.2s ease-in-out;
}

.navLinks a:not(.active):hover {
    color: var(--hover-gray);
}

.navLinks .active {
    color: var(--second-color);
}