.about-frontPage-container {
    height: 100vh;
    min-height: 57rem;
    width: 100%;
    color: var(--main-color);
    position: relative;
}

.about-frontPage-container img {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -10%;
}

.about-frontPage-content {
    width: 90%;
    height: 100%;
    max-width: 1140px;
    margin: auto;
    position: relative;
}

.about-frontPage-title {
    font-family: Archivo Black;
    font-size: 6rem;
    font-weight: 400;
    line-height: 6rem;
    letter-spacing: -0.02em;
    text-align: left;
    width: 60%;
    margin-bottom: 0;
}

.about-frontPage-title span {
    color: var(--second-color);
}

.about-frontPage-leftTextContainer {
    position: absolute;
    top: 10%;
    left: 0;
    width: 50%;
}

.about-frontPage-rightTextContainer {
    width: 35%;
    position: absolute;
    top: 15%;
    right: 0;
}

.about-frontPage-text{
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.575rem;
    letter-spacing: -0.02em;
    text-align: left;
}
.about-frontPage-text span {
    color: var(--second-color);
}