#loop-scroll-gallery {
    height: 80%;
    width: 34%;
    min-width: 250px;
    overflow: hidden;
}

.scroll-gallery-wrapper {
    width: 400px;
    height: 100%;
    margin: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

.scroll-gallery-wrapper-animation {
    animation: 1.5s linear 1 slidein;
}

.scroll-gallery-wrapper-animation-inverted {
    animation: 1.5s linear 1 slideinInverted;
}

.scroll-gallery-image-container {
    width: 100%;
    height: 100%;
}

.scroll-gallery-image-container img {
    width: 100%;
    height: 100%;
}

@keyframes slidein {
    0% {
        transform: translateY(120%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes slideinInverted {
    0% {
        transform: translateY(-120%);
    }
    100% {
        transform: translateY(0%);
    }
}