.teamGallery-container {
    margin-top: 275px;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.teamGallery-imageContainer {
    overflow: hidden;
    width: 50%;
    height: 100vh;
}

.teamGallery-imageContainer img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slideInRight {
    animation: slideInRight 0.5s ease-in-out;
}

.slideInLeft {
    animation: slideInLeft 0.5s ease-in-out;
}

.slideInUp {
    animation: slideInUp 0.5s ease-in-out;
}

.slideInDown {
    animation: slideInDown 0.5s ease-in-out;
}

.teamGallery-content {
    width: 40%;
    color: var(--text-color);
}

.teamGallery-infoContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.teamGallery-name {
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: -0.02em;
    text-align: left;
    color: var(--second-color);
    overflow: hidden;
    margin: 0;
    margin-bottom: 42px;
}

.teamGallery-desc {
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.25rem;
    letter-spacing: -0.02em;
    text-align: left;
    height: 20rem;
    overflow: hidden;
    margin: 0;
}

.teamGallery-buttons {
    font-size: 1.6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "prev next";
}

.teamGallery-buttonPrev {
    grid-area: prev;
    margin: 0;
    text-align: right;
    margin-right: 10px;
    transition: 0.2s ease-in-out;
}

.teamGallery-buttonNext {
    grid-area: next;
    margin: 0;
    text-align: left;
    margin-left: 10px;
    transition: 0.2s ease-in-out;
}

.teamGallery-buttonPrev span,
.teamGallery-buttonNext span {
    cursor: pointer;
}

.teamGallery-buttonPrev:hover {
    color: var(--second-color);
    transform: translateX(-5px);
}

.teamGallery-buttonNext:hover {
    color: var(--second-color);
    transform: translateX(5px);
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInUp {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes slideInDown {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateX(0);
    }
}

@media (799px < width < 1025px) {
    .teamGallery-container {
        margin-top: 218px;
        margin-left: 40px;
        margin-right: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .teamGallery-imageContainer {
        overflow: hidden;
        width: 58%;
        height: 65vh;
    }

    .teamGallery-name {
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 40px;
        margin-top: 176px;
    }

    .teamGallery-desc {
        font-size: 1rem;
        line-height: 1rem;
        height: 17rem;
    }
}

@media (width < 800px) {
    .teamGallery-container {
        margin-top: 300px;
        margin-left: 16px;
        margin-right: 16px;
        flex-direction: column;
    }
    .teamGallery-imageContainer {
        width: 100%;
        height: 450px;
        margin-bottom: 20px;
    }
    .teamGallery-content {
        display: flex;
        width: 100%;
        flex-direction: column-reverse;
    }
    .teamGallery-name {
        font-size: 1rem;
        line-height: 1rem;
        margin-bottom: 24px;
        margin-top: 66px;
    }
    
    .teamGallery-desc {
        font-size: 1rem;
        line-height: 1rem;
    }
}