.careFuture-frontPage {
    position: relative;
    overflow: hidden;
    height: 90vh;
    min-height: 50rem;
}

.careFuture-bg {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -2;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.careFuture-container {
    width: 90%;
    max-width: 1140px;
    margin: auto;
    height: 100%;
    position: relative;
}

.careFuture-content {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 80px;
    color: var(--main-color);
    width: 100%;
}

.careFuture-title {
    font-family: Archivo Black;
    font-size: 6rem;
    font-weight: 400;
    line-height: 6rem;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 0;
}

.careFuture-title span {
    color: var(--second-color);
}

.careFuture-text {
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.85rem;
    letter-spacing: -0.02em;
    text-align: left;
}
.careFuture-items {
    width: 90%;
    max-width: 1140px;
    height: 30rem;
    margin: 120px auto;
}
.careFuture-items ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    color: var(--text-color);
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 20px;
}

.careFuture-items ul li {
    width: 25%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.careFuture-items ul li p {
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.85rem;
    letter-spacing: -0.02em;
    text-align: center;
}

@media (width < 450px) {
    .careFuture-title {
        font-size: 4rem;
    }
}