.accordion-container {
    width: auto;
    margin-top: 57px;
    min-height: 56rem;
    display: flex;
    position: relative;
    overflow: hidden;
}

.accordion-text {
    margin-left: 80px;
    color: var(--text-color);
    width: 466px;
    height: 100%;
}

.accordion-text h2 {
    font-family: Archivo Black;
    font-size: 6rem;
    font-weight: 400;
    line-height: 6rem;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 24px;
    margin-top: 0;
}

.accordion-text h2 span {
    color: var(--second-color);
}

.accordion-text p {
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.56rem;
    letter-spacing: -0.02em;
    text-align: left;
    margin: 0;
}

.accordion-content {
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 0;
    left: 50%;
    transition: 0.4s ease-in-out;
}

.accordion-item {
    width: 100%;
    height: 100%;
    margin: auto;
    transition: 0.4s ease-in-out;
    background-color: var(--text-color);
    display: flex;
    position: absolute;
}

.accordion-item-sideTitle {
    width: 80px;
    height: 100%;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--hover-gray);
    background-color: var(--main-color);
    color: var(--text-color);
    position: relative;
    box-sizing: border-box
}

.accordion-item-sideTitle h4 {
    transform-origin: center;
    transform: rotateZ(-90deg);
}

.accordion-item-expandButtonContainer {
    width: 30px;
    height: 30px;
    border: 1px solid var(--text-color);
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.accordion-item-expandButton-verticalLine {
    width: 1px;
    height: 20px;
    background-color: var(--text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.4s ease-in-out;
}

.accordion-item-expandButton-verticalLineisExpanded {
    transform: translate(-50%, -50%) rotateZ(90deg);
}

.accordion-item-expandButtonHotizontalLine {
    width: 20px;
    height: 1px;
    background-color: var(--text-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.accordion-item-imgContainer {
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.accordion-item-imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.accordion-item-textContainer {
    width: 40%;
    height: 50%;
    overflow: hidden;
    margin: auto;
    margin-top: 15%;
}

.accordion-item-textContainer h3 {
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.56rem;
    letter-spacing: -0.02em;
    text-align: left;
}

.accordion-item-textContainer p {
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.56rem;
    letter-spacing: -0.02em;
    text-align: left;

}

.accordion-item-expand {
    max-width: 100%;
    left: 0 !important;
}

.accordion-item-disappear {
    left: 100% !important;
}

.accordion-content-move {
    left: 0 !important;
}

@media (799px < width < 1440px) {
    .accordion-container {
        height: fit-content;
    }

    .accordion-container {
        flex-direction: column;
    }

    .accordion-contentContainer {
        width: 100%;
        height: 896px;
        position: relative;
    }
}

@media (799px < width < 1025px) {
    .accordion-container {
        margin-top: 58px;
    }

    .accordion-text {
        margin-left: 40px;
    }

    .accordion-text h2 {
        font-family: Archivo Black;
        font-size: 6rem;
        font-weight: 400;
        line-height: 6rem;
        letter-spacing: -0.02em;
        text-align: left;
        margin-bottom: 16px;
    }

    .accordion-text p {
        margin-bottom: 40px;
    }
}

@media (width < 800px) {
    .accordion-container {
        flex-direction: column;
        width: 100%;
    }

    .accordion-content {
        display: none;
    }

    .accordion-text {
        width: auto;
        margin-left: 16px;
        margin-right: 16px;
    }

    .accordion-text h2 {
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-bottom: 40px;
    }

    .accordion-text p {
        margin-bottom: 44px;
    }

    .accordion-phone-contentContainer {
        margin: auto 16px;
    }

}