.bgGallery-container {
    width: 100%;
    height: 100vh;
    min-height: 60rem;
    position: relative;
    overflow: hidden;
}

.bgGallery-bgContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
}

.bgGallery-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.1s ease-in-out;
    opacity: 1;
}

.bgGallery-bgImg-off {
    opacity: 0!important;
}

.bgGallery-bgContainer::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 80%);
    z-index: 1;
}

.bgGallery-contentContainer {
    width: 90%;
    height: 100%;
    max-width: 1140px;
    margin: auto;
    position: relative;
    z-index: 2;
}

.bgGallery-content {
    position: absolute;
    bottom: 5%;
    height: 60%;
    left: 0;
    color: var(--text-color);
    width: 40%;
    height: 60%;
}

.bgGallery-content h2 {
    font-family: Archivo Black;
    font-size: 6rem;
    font-weight: 400;
    line-height: 6rem;
    letter-spacing: -0.02em;
    text-align: left;
    margin-bottom: 0;
}

.bgGallery-content p {
    font-family: Roboto;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.56rem;
    letter-spacing: -0.02em;
    text-align: left;
    overflow-y: scroll;
}

.bgGallery-info {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.bgGallery-info-animation-up {
    transform: translateY(-100%);
}

.bgGallery-imgButtonsContainer {
    position: absolute;
    bottom: 5%;
    right: 0;
    z-index: 2;
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
}

.bgGallery-imgButton0 {
    width: 55%;
    height: 80%;
    overflow: hidden;
    border: 4px solid var(--hover-gray);
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    left: -100%;
}

.bgGallery-imgButton1 {
    width: 55%;
    height: 80%;
    overflow: hidden;
    border: 4px solid var(--hover-gray);
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.bgGallery-transition {
    transition: 0.2s ease-in-out;
}

.bgGallery-imgButton2 {
    width: 40%;
    height: 60%;
    overflow: hidden;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    left: 60%;
}

.bgGallery-imgButton3 {
    width: 40%;
    height: 60%;
    overflow: hidden;
    border-radius: 30px;
    position: absolute;
    bottom: 0;
    left: 100%;
}

@media (width < 666px) {
    .bgGallery-content h2 {
        font-size: 4rem;
    }
}